@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
ul {
  list-style: none;
}

nav a img {
  width: 10%;
}

.portada {
  text-align: center;
}
.portada img {
  width: 30%;
}

.header-nav {
  background-color: rgba(102, 194, 193, 0.8);
  padding: 6px 20px;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.header-nav ul {
  display: flex;
}
.header-nav li {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
.header-nav li a {
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 1.7rem;
}
.header-nav li:hover {
  font-weight: 900;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 121, 10) 0%, rgb(61, 223, 182) 0%, rgb(2, 195, 210) 100%, rgb(0, 212, 255) 100%);
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(165, 234, 234);
}

a {
  text-decoration: none;
}

h1 {
  color: black;
  font-size: 6rem;
}

h2 {
  color: rgb(190, 131, 246);
  font-size: 3rem;
}

h3 {
  color: rgb(190, 131, 246);
  font-size: 2, 5rem;
}

.txt-roboto, .txt-arial {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 300;
}

.txt-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.text-grey {
  color: grey;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-italic {
  font-style: italic;
}

.bg-violet {
  background-color: rgb(190, 131, 246);
}

.bg-light {
  background-color: rgb(231, 234, 213);
}

.bg-aqua {
  background-color: rgba(102, 194, 193, 0.8);
}

.bgBlack {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 200;
}

.foto__nosotros {
  padding: 50px;
  margin: auto 50px;
}

figure {
  padding: 10px;
  display: inline-block;
  margin: 0 10px 10px 0;
  text-align: center;
  justify-content: center;
}
figure img {
  min-height: 300px;
  max-height: 300px;
  min-width: 100%;
  border: solid rgb(86, 138, 94) 5px;
}

.foto {
  width: 50%;
  height: 300px;
  position: relative;
  padding: 20px 25px;
}

.foto__contacto {
  width: 400px;
  height: 100px;
  margin-left: 170px;
}

.container_foto {
  width: 700px;
  height: auto;
}

.galeria-img {
  width: 75%;
}

.row img {
  height: 200px;
}

.pie {
  background-color: rgba(102, 194, 193, 0.8);
  text-align: center;
  padding: 20px 30px;
  margin: 20px auto;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.pie__img {
  margin: 10px;
  width: 2em;
}

@keyframes headerAnimate {
  0% {
    background-image: url(../images/headers/russia.jpg);
  }
  25% {
    background-image: url(../images/headers/sunrise.jpg);
  }
  50% {
    background-image: url(../images/headers/cancun.jpg);
  }
  75% {
    background-image: url(../images/headers/london.jpg);
  }
  100% {
    background-image: url(../images/headers/nyc2.jpg);
  }
}
div.portada {
  height: 70vh;
  background-size: cover;
  animation-name: headerAnimate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  margin: 100px 50px;
  cursor: pointer;
}

.paquetes img:hover {
  transform: scale(1.3);
  transition: 2s;
  cursor: pointer;
}

.header-nav img:hover {
  transform: rotate(360deg);
  transition: 2s;
  cursor: pointer;
}

.contact__info {
  color: rgb(5, 5, 75);
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1, 5rem;
  font-weight: 200;
  padding: auto;
  margin: 10px auto;
}

.contacto__articulo {
  color: navy;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 10px;
  margin: 20px 35px;
}

.forma {
  display: block;
  margin: 5px 25px;
}

.feedbacks {
  color: darkblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  padding-bottom: 10px;
  margin: 20px 35px;
}

.itinerario__articulo {
  color: rgb(200, 29, 29);
  text-align: center;
  display: inline-block;
}

.itinerario__nyc {
  color: midnightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  line-height: 1, 5rem;
  font-weight: 200;
  padding: auto;
  margin: 10px auto;
}

.paquetes {
  display: inline-block;
  margin: 20px auto;
  padding: auto;
  justify-content: center;
  text-align: center;
}

figcaption {
  font-size: 2em;
  color: green;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-top: 10px;
}

.itinerario__italia {
  color: rgb(6, 6, 86);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  line-height: 1, 5rem;
  font-weight: 200;
  padding: auto;
  margin: 10px auto;
}

.itinerario__bcn {
  color: rgb(2, 2, 34);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  line-height: 1, 5rem;
  font-weight: 200;
  padding: auto;
  margin: 10px auto;
}

.pie-1 {
  display: flex;
  justify-content: center;
  background-color: rgba(102, 194, 193, 0.8);
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.pie-1 a img {
  width: 2em;
  margin: 10px;
}

@media (min-width: 481px) and (max-width: 768px) {
  .gridIndex {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas: "header header" "section main" "footer footer";
    gap: 10px;
  }
  h1 {
    font-size: 20px;
  }
  nav {
    width: 100%;
  }
  nav ul {
    margin-right: 5vw;
  }
  footer {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .gridIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header" "section" "main" "footer";
    gap: 10px;
  }
  h1 {
    font-size: 15px;
  }
  nav {
    width: 100%;
  }
  nav ul {
    margin-right: 5vw;
  }
  .galeria-img {
    width: 180%;
  }
}
.gridPaquetes {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header-1" "main-1" "footer-1";
}

nav ul {
  margin-right: 9vw;
}

img {
  width: 90%;
}

#footer-2 {
  width: 100%;
}

#footer-3 {
  width: 100%;
}

#nav-3 ul {
  margin-right: 12vw;
}

.gridIndex {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  grid-template-areas: "header header" "section main" "footer footer";
  gap: 20px;
  overflow-x: hidden;
}

#header {
  grid-area: header;
}

#section {
  grid-area: section;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#main {
  grid-area: main;
  display: flex;
  justify-content: center;
}

#footer {
  grid-area: footer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
  padding: 10px 0;
}

.gridContact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nav-2 nav-2" "main-2 main-2" "map map" "footer-2 footer-2";
}

#nav-2 {
  grid-area: nav-2;
}

#main-2 {
  grid-area: main-2;
}

#map {
  grid-area: map;
  display: flex;
  justify-content: center;
}

#footer-2 {
  grid-area: footer-2;
}

.gridFeedback {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nav-3 nav-3" "main-3 main-3" "form form" "footer-3 footer-3";
}

#nav-3 {
  grid-area: nav-3;
}

#main-3 {
  grid-area: main-3;
}

#form {
  grid-area: form;
}

#footer-3 {
  grid-area: footer-3;
}

.gridNosotros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nav-4 nav-4 nav-4" "main-4 main-4 main-4" "img img img" "footer-4 footer-4 footer-4";
}

#nav-4 {
  grid-area: nav-4;
}

#main-4 {
  grid-area: main-4;
}

#img {
  grid-area: img;
  display: flex;
  justify-content: center;
}

#footer-4 {
  grid-area: footer-4;
}

.row p {
  padding: 10px;
  font-size: medium;
  font-family: cursive;
}

.error {
  background-color: #FF7F2E;
  font-family: "Concert One", cursive;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

/*/////////////////// rules */
/*/////////////////// scene */
.text {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgba(19, 36, 44, 0.1);
  font-size: 30em;
  text-align: center;
  top: 40%;
}

.container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 500px;
}
.container:after {
  position: absolute;
  content: "";
  background-color: rgba(19, 36, 44, 0.1);
  border-radius: 12px;
  bottom: 40px;
  height: 12px;
  left: 80px;
  width: 350px;
  z-index: -1;
}

/*/////////////////// caveman */
.caveman {
  height: 300px;
  position: absolute;
  width: 250px;
}

.caveman:nth-child(1) {
  right: 20px;
}

.caveman:nth-child(2) {
  left: 20px;
  transform: rotateY(180deg);
}

.head {
  position: absolute;
  background-color: #13242C;
  border-radius: 50px;
  height: 140px;
  left: 60px;
  top: 25px;
  width: 65px;
}
.head:after, .head:before {
  content: "";
  position: absolute;
  background-color: #13242C;
  border-radius: 10px;
  height: 20px;
  width: 7px;
}
.head:after {
  left: 35px;
  top: -8px;
  transform: rotate(20deg);
}
.head:before {
  left: 30px;
  top: -8px;
  transform: rotate(-20deg);
}
.head .eye {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  background-color: #EAB08C;
  border-radius: 50px;
  height: 16px;
  left: 45%;
  top: 40px;
  width: 48px;
}
.head .eye:after, .head .eye:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #13242C;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}
.head .eye:after {
  left: 5px;
}
.head .eye:before {
  right: 9px;
}
.head .eye .nose {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #D9766C;
  border-left: 8px solid rgba(19, 36, 44, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
  height: 35px;
  left: 45%;
  top: 12px;
  width: 15px;
}

.shape {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  border-radius: 50%;
  height: 140px;
  overflow: hidden;
  top: 70px;
  width: 140px;
}
.shape .circle {
  position: absolute;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.shape .circle:after, .shape .circle:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.shape .circle:after {
  left: 50px;
  top: 10px;
}
.shape .circle:before {
  left: 60px;
  top: 45px;
}
.shape .circle:nth-child(1) {
  left: -12px;
  top: 80px;
}
.shape .circle:nth-child(2) {
  right: 10px;
  top: 0px;
  transform: rotate(90deg);
}
.shape .circle:nth-child(2):after {
  left: 65px;
  top: 10px;
}
.shape .circle:nth-child(2):before {
  display: none;
}

.caveman:nth-child(1) .shape {
  background-color: #D13433;
}
.caveman:nth-child(1) .shape .circle {
  background-color: #932422;
}
.caveman:nth-child(1) .shape .circle:after, .caveman:nth-child(1) .shape .circle:before {
  background-color: #932422;
}

.caveman:nth-child(2) .shape {
  background-color: #932422;
}
.caveman:nth-child(2) .shape .circle {
  background-color: #D13433;
}
.caveman:nth-child(2) .shape .circle:after, .caveman:nth-child(2) .shape .circle:before {
  background-color: #D13433;
}

.arm-right {
  position: absolute;
  background-color: #EAB08C;
  border-left: 8px solid rgba(19, 36, 44, 0.1);
  border-radius: 50px;
  box-sizing: border-box;
  height: 180px;
  left: 135px;
  top: 80px;
  transform-origin: 30px 30px;
  width: 60px;
  z-index: 1;
}
.arm-right .club {
  position: absolute;
  border-bottom: 110px solid #601513;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  left: -60px;
  top: 120px;
  transform: rotate(70deg);
  width: 20px;
}
.arm-right .club:after, .arm-right .club:before {
  position: absolute;
  content: "";
  background-color: #601513;
  border-radius: 50%;
  left: 0;
}
.arm-right .club:after {
  height: 20px;
  width: 20px;
  top: -10px;
}
.arm-right .club:before {
  height: 40px;
  width: 40px;
  left: -10px;
  top: 90px;
}

.leg {
  position: absolute;
  border-radius: 10px;
  height: 55px;
  top: 200px;
  width: 10px;
}
.leg:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 10px;
  left: -5px;
  top: 15px;
  width: 10px;
}
.leg .foot {
  position: absolute;
  border-radius: 25px 25px 0 0;
  height: 25px;
  left: -38px;
  top: 30px;
  width: 50px;
}
.leg .foot:after, .leg .foot:before, .leg .foot .fingers, .leg .foot .fingers:after {
  position: absolute;
  background-color: #EAB08C;
  border-radius: 50%;
  bottom: 0px;
  height: 15px;
  transform-origin: bottom;
  width: 15px;
}
.leg .foot:after {
  left: -6px;
  content: "";
}
.leg .foot:before {
  left: 8px;
  transform: scale(0.6);
  content: "";
}
.leg .foot .fingers {
  left: 15px;
  transform: scale(0.6);
}
.leg .foot .fingers:after {
  left: 11px;
  content: "";
}

.leg:nth-child(1) {
  background-color: #B2524D;
  left: 95px;
}
.leg:nth-child(1):after {
  background-color: #B2524D;
}
.leg:nth-child(1) .foot {
  background-color: #B2524D;
}
.leg:nth-child(1) .foot:after {
  background-color: #B2524D;
}
.leg:nth-child(1) .foot:before {
  display: none;
}

.leg:nth-child(2) {
  background-color: #D9766C;
  left: 115px;
}
.leg:nth-child(2):after {
  background-color: #D9766C;
}
.leg:nth-child(2) .foot {
  background-color: #D9766C;
}

/*/////////////////// animation */
.caveman:nth-child(1) .arm-right {
  animation: arm-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
}

.caveman:nth-child(2) .arm-right {
  animation: arm-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
  animation-delay: 0.6s;
}

@keyframes arm-anima {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.caveman:nth-child(2) .head {
  animation: head-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
}

.caveman:nth-child(1) .head {
  animation: head-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
  animation-delay: 0.6s;
}

@keyframes head-anima {
  0% {
    top: 25px;
  }
  42% {
    top: 25px;
  }
  45% {
    top: 50px;
  }
  100% {
    top: 25px;
  }
}
.caveman:nth-child(2) .eye:after,
.caveman:nth-child(2) .eye:before {
  animation: eye-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
}

.caveman:nth-child(1) .eye:after,
.caveman:nth-child(1) .eye:before {
  animation: eye-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
  animation-delay: 0.6s;
}

@keyframes eye-anima {
  0% {
    height: 5px;
  }
  42% {
    height: 5px;
  }
  45% {
    height: 1px;
  }
  100% {
    height: 5px;
  }
}
.container:after {
  animation: shadow-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
  animation-delay: 0.1s;
}

@keyframes shadow-anima {
  0% {
    width: 350px;
    left: 80px;
  }
  25% {
    width: 450px;
    left: 80px;
  }
  50% {
    width: 350px;
    left: 80px;
  }
  75% {
    width: 450px;
    left: 0px;
  }
  100% {
    width: 350px;
    left: 80px;
  }
}
/*/////////////////////// credit ////*/
#link {
  bottom: 20px;
  color: #000;
  opacity: 0.2;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#link p {
  margin: 0;
  margin-left: 5px;
}

#link:hover {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
