@import "../utilities/variables";

.pie{
    background-color:map-get($map: $colors, $key: "nav");
    text-align: center;
    padding: 20px 30px;
    margin: 20px auto;
    display: flex;
    @include flex (row);
    align-items: center;
    justify-content: center;
}

.pie__img{
    margin: 10px;
    width: 2em;
}