.gridIndex{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "section main"
    "footer footer";
    gap: 20px;
    overflow-x: hidden;
}

#header{
    grid-area: header;
}

#section{
    grid-area: section;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#main{
    grid-area: main;
    display: flex;
    justify-content: center;
}

#footer{
    grid-area: footer;
}


.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
    padding: 10px 0;
}

.gridContact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav-2 nav-2"
    "main-2 main-2"
    "map map"
    "footer-2 footer-2";
}

#nav-2{
    grid-area: nav-2;
}

#main-2{
    grid-area: main-2;
}

#map{
    grid-area: map;
    display: flex;
    justify-content: center;
}

#footer-2{
    grid-area: footer-2;
}


.gridFeedback{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav-3 nav-3"
    "main-3 main-3"
    "form form"
    "footer-3 footer-3";
}

#nav-3{
    grid-area: nav-3;
}

#main-3{
    grid-area: main-3;
}

#form{
    grid-area: form;
}

#footer-3{
    grid-area: footer-3;
}

.gridNosotros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav-4 nav-4 nav-4"
    "main-4 main-4 main-4"
    "img img img"
    "footer-4 footer-4 footer-4";
}

#nav-4{
    grid-area: nav-4;
}

#main-4{
    grid-area: main-4;
}

#img{
    grid-area: img;
    display: flex;
    justify-content: center;
}

#footer-4{
    grid-area: footer-4;
}

.row p{
    padding: 10px;
    font-size: medium;
    font-family: cursive;
}