@import "../utilities/variables";

ul{
    list-style: none;
}

nav a img{
    width: 10%;

}
.portada {
    text-align: center;
    img {
        width: 30%;
    }
}


.header-nav{
    background-color: rgba(102, 194, 193, 0.8);
    padding: 6px 20px;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    ul{
        display: flex;
    }

    li{
        color: black;
            font-family: $main-font;
            font-size: 1.2rem;
            font-weight: 400;

            a{   display: block;
                text-decoration: none;
                padding: 0.8rem;
                text-align: center;
                color: black;
                text-transform: uppercase;
                font-size: 1.7rem;

            }

            &:hover {
                font-weight: 900;
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,10,1) 0%, rgba(61,223,182,1) 0%, rgba(2,195,210,1) 100%, rgba(0,212,255,1) 100%);
            }

        }
    }
