.itinerario__articulo{
    color: rgb(200, 29, 29);
    text-align: center;
    display: inline-block;
}

.itinerario__nyc{
    color: midnightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    line-height: 1,5rem;
    font-weight: 200;
    padding: auto;
    margin: 10px auto;
}

.paquetes{
    display: inline-block;
    margin: 20px auto;
    padding: auto;
    justify-content: center;
    text-align: center;
}

figcaption{
    font-size: 2em;
    color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
}

.itinerario__italia{
    color: rgb(6, 6, 86);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    line-height: 1,5rem;
    font-weight: 200;
    padding: auto;
    margin: 10px auto;
}


.itinerario__bcn{
    color: rgb(2, 2, 34);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    line-height: 1,5rem;
    font-weight: 200;
    padding: auto;
    margin: 10px auto;
}
